/* GLOBALS */

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Light.ttf);
  font-weight: 100;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Regular.ttf);
  font-weight: 200;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Medium.ttf);
  font-weight: 300;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-SemiBold.ttf);
  font-weight: 400;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Bold.ttf),;
  font-weight: 500;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-ExtraBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Black.ttf);
  font-weight: 700;
}

*{
  padding: 0;
  margin: 0;

  color: white;
  font-family: "rubik";
  font-weight: 200;

  user-select: none;
  -webkit-user-drag: none;

  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
}

#window{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: black;
}

#win-content{
  flex-grow: 1;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* My instance sub window */
#my-instances{
  height: calc(100% - 10px);
  width: calc(100% - 10px);

  display: flex;
}

/* Left part of the sub window */
#instance-list-sidebar{
  height: 100%;
  background-color: #141414;
  border-radius: 5px;
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Default instance style */
.instance{
  width: calc(100% - 30px);
  height: 40px;

  position: relative;
  top: 5px;
  left: 5px;

  border-radius: 5px;

  padding: 10px;

  font-size: 18px;

  background: linear-gradient(90deg, #000 15%, rgba(0, 0, 0, 0.50) 50%, rgba(0, 0, 0, 0.50) 100%),
    url(./wallpaper.jpg);
  background-position: 50%;
  background-size: cover;

  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;

  transition: transform .1s ease-in-out;

  cursor: pointer;
}

/* Animation when overing instance */
.instance:hover{
  transform: scale(1.005);
}

.instance:active{
  transform: scale(0.995);
}

/* Right part of the sub window */
#instance-info{
  flex-grow: 1;

  margin-right: 5px;

  position: relative;
  left: 5px;

  border-radius: 5px;

  overflow-y: scroll;
}

/* Title, author and launch button on the image */
#overlapping-info{
  position: relative;
  left: 5px;
  top: 25px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: end;

  overflow: visible;
}

/* Title and author text */
#instance-title-group{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0px;

  bottom: 10px;
}

/* Title */
#instance-title{
  font-size: 50px;
  font-weight: 700;
  position: relative;
  top: 9px;
}

/* Author */
#instance-author{
  font-size: 18px;
}

/* Make author name purple */
#instance-author span{
  color: #650043;
  font-weight:600;
}

/* Instance image in background */
#background-img{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url(./wallpaper.jpg);

  width: 100%;
  height: 50%;

  max-height: 400px;

  background-position: 50%;
  background-size: cover;

  overflow: visible;
}

/* Launch btn with the sub menu btn */
#launch-btn-group{
  display: flex;
  gap: 4px;

  overflow: visible;
}

/* Big launch btn */
#launch-btn{
  width: 125px;
  height: 50px;

  border-radius: 5px;
  border: 2px solid #302;
  background: #2D001E;
  box-shadow: 0px 0px 10px .5px #47002F;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: transform .25s;
}

/* Animation when hovering launch btn */
#launch-btn:hover {
  transform: scale(1.03);
}

#launch-btn:active {
  transform: scale(0.97);
}

/* Launch btn text */
#launch-btn p{
  font-size: 24px;
}

/* Sub menu launch btn */
#launch-btn-options{
  width: 15px;
  height: 50px;

  padding: 0 5px;

  border-radius: 5px;
  border: 2px solid #302;
  background: #2D001E;
  box-shadow: 0px 0px 10px .5px #47002F;

  cursor: pointer;
}

/* Group text in the left part of the sub window */
.group{
  font-weight: 500;

  position: relative;
  top: 5px;
  left: 5px;
}

/* New instance btn */
#new-instance{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* Animation when hovering add instance btn */
#new-instance:hover {
  border: solid 2px white;
}

/* Instance info widgets */
#info-widgets{
  position: relative;
  top: 35px;
  left: 5px;

  width: 45%;
  max-width: 400px;


  display: flex;
  flex-wrap: wrap;

  gap: 5px;
}

#info-widgets > div{
  background-color: #191919;
  border-radius: 5px;

  width: calc(100% / 2 - 5px);
  height: 100px;
  flex-grow: 1;
}

#info-widgets > div > p {
  font-weight: 100;
  font-size: 12px;

  position: relative;
  left: 5px;
  top: 3px;
}

#info-widgets>div>div {
  position: relative;
  top: -14px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#info-widgets>div>div>p:first-child{
  font-size: 18px;
  text-align: center;
}

#info-widgets>div>div>p:nth-child(2) {
  font-size: 10px;
  text-align: center;
}

/* scrollbar */
::-webkit-scrollbar{
  width: 5px;
  background-color: #191919;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(39, 39, 39);
  border-radius: 5px;
  box-shadow: 0 0 15px 1px black;
}