/* GLOBALS */
@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Light.ttf);
  font-weight: 100;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Regular.ttf);
  font-weight: 200;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Medium.ttf);
  font-weight: 300;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-SemiBold.ttf);
  font-weight: 400;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-ExtraBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Black.ttf);
  font-weight: 700;
}

@mixin default-btn {}

* {
  margin: 0;
  padding: 0;

  user-select: none;
  -webkit-user-drag: none;
}

body {
  background-color: black;

  /* Default applied font */
  color: white;
  font-family: rubik;
  font-weight: 200;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

:root {
  --content-bg: #191919;
}

/* Titlebar */
.titlebar {
  background-color: var(--content-bg);
  margin: 5px;
  padding: 20px;

  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-app-region: drag;
}

.titlebar .menu-btns {
  display: flex;
  gap: 5px;

  font-size: 18px;

  -webkit-app-region: no-drag;
}

.titlebar .win-btns {
  display: flex;
  gap: 5px;

  -webkit-app-region: no-drag;
}

/* Sub content -> My instance tab */
.sub-content {
  height: calc(100% - 100px);

  margin: 0 5px 5px 5px;

  display: flex;
  gap: 5px;

  position: relative;
}

.sub-content .instance-sidebar {
  width: 350px;
  min-width: 350px;

  height: 100%;

  border-radius: 5px;

  background-color: var(--content-bg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instance-sidebar #instance-list {
  margin: 5px;
  overflow-y: overlay;

  display: flex;
  flex-direction: column;
  gap: 5px;

  flex: 1;
  border-radius: 5px;
}

.sub-content .instance-info {
  flex: 1;

  border-radius: 5px;

  background-color: var(--content-bg);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.instance-info .info-content {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: overlay;
}

.info-content .info-backimg {
  width: 100%;
  min-height: 300px;

  border-radius: 5px;

  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgb(0, 0, 0, 0.85) calc(100% + 1px)),
    url();

  background-repeat: no-repeat;
  background-position: 50%;

  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: end;
}

.info-backimg .overlapping-info {
  transform: translateY(calc(50% + 5px));
  width: fit-content;

  position: relative;
  left: 5px;
  line-height: 30px;
}

.info-content .action-btn {
  height: 75px;
  background-color: rgba(25, 25, 25, 0.25);

  border-top: solid #191919;

  backdrop-filter: blur(10px);

  transform: translateY(50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-content .instance-info-area {
  width: calc(100% - 10px);
  max-width: 1200px;

  position: relative;

  top: 45px;
  padding-bottom: 5px;

  display: grid;
  gap: 5px;
}

.instance-info-area .all-widgets {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 5px;
}

.instance-info-area .info-widgets {
  height: 100%;

  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.screenshot-widget {}

/* Sub window */
.sub-window {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  transition: opacity .2s;
}

.window {
  background-color: var(--content-bg);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);

  border-radius: 5px;

  width: calc(100% - 25px);
  height: calc(100% - 25px);

  position: relative;

  opacity: 0;
  transform: scale(.5);
  transition: opacity .2s, transform .2s ease-out;
}

.window[window-id="new-instance"] .info-backimg {
  width: 100%;
  height: 40%;
  max-height: 500px;

  border-radius: 5px 5px 0px 0px;
}

.window[window-id="new-instance"] .change-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px 5px 0px 0px;
  background-color: rgba(0, 0, 0, 0.75);
  
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity .1s;
}

.window[window-id="new-instance"] .change-image-container:hover {
  opacity: 1;
}

.window[window-id="new-instance"] .widgets-container {
  display: flex;
  gap: 10px;
  width: fit-content;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.window[window-id="new-instance"] .actions-btn {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: calc(100% - 10px);

  bottom: 5px;
  left: 5px;
}