@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Regular.ttf);
  src: url(./resources/fonts/Rubik-Black.ttf),
    url(./resources/fonts/Rubik-BlackItalic.ttf),
    url(./resources/fonts/Rubik-Bold.ttf),
    url(./resources/fonts/Rubik-BoldItalic.ttf),
    url(./resources/fonts/Rubik-ExtraBold.ttf),
    url(./resources/fonts/Rubik-ExtraBoldItalic.ttf),
    url(./resources/fonts/Rubik-Italic.ttf),
    url(./resources/fonts/Rubik-Light.ttf),
    url(./resources/fonts/Rubik-LightItalic.ttf),
    url(./resources/fonts/Rubik-Medium.ttf),
    url(./resources/fonts/Rubik-MediumItalic.ttf),
}

*{
  padding: 0;
  margin: 0;

  color: white;
  font-family: "rubik";
  font-weight: 1;

  user-select: none;
  -webkit-user-drag: none;
}

#window{
  width: 100vw;
  height: 100vh;

  background-color: black;
}

#header{
  width: calc(100% - 10px);
  height: 75px;

  position: relative;
  top: 5px;
  left: 5px;

  border-radius: 5px;

  background-color: #141414;

  -webkit-app-region: drag;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header > *:not(#header-title){
  -webkit-app-region: no-drag;
}

#header-title{
  position: relative;
  left: 10px;
}

#header-title > p > span{
  color: #8D8D8D
}

#header-menu{
  display: flex;
  gap: 5px;
}

#header-actions-btn{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  gap: 5px;

  position: relative;
  right: 10px;
}

.header-action-btn{
  background-color: black;
  padding: 12px;

  font-size: 18px;

  border: #272727 solid 2px;

  border-radius: 5px;

  cursor: pointer;
}

.header-menu-btn{
  background-color: black;
  padding: 10px;

  font-size: 18px;

  border: #272727 solid 2px;

  border-radius: 5px;

  cursor: pointer;

  transition: border .075s;
}

.header-menu-btn:hover{
  border: solid 2px #E6E6E6;
}

.header-menu-btn.active{
  background-color: #272727;
  border: solid 2px #E6E6E6;
}

#reduce-btn,
#minimize-btn,
#close-btn {
  transition: background-color .075s, border .075s;
}

#close-btn:hover{
  border: solid 2px #cc0000;
}

#reduce-btn:hover, #minimize-btn:hover {
  border: solid 2px #E6E6E6;
}