@font-face {
  font-family: rubik;
  src: url(./resources/fonts/Rubik-Regular.ttf);
  src: url(./resources/fonts/Rubik-Black.ttf),
    url(./resources/fonts/Rubik-BlackItalic.ttf),
    url(./resources/fonts/Rubik-Bold.ttf),
    url(./resources/fonts/Rubik-BoldItalic.ttf),
    url(./resources/fonts/Rubik-ExtraBold.ttf),
    url(./resources/fonts/Rubik-ExtraBoldItalic.ttf),
    url(./resources/fonts/Rubik-Italic.ttf),
    url(./resources/fonts/Rubik-Light.ttf),
    url(./resources/fonts/Rubik-LightItalic.ttf),
    url(./resources/fonts/Rubik-Medium.ttf),
    url(./resources/fonts/Rubik-MediumItalic.ttf),
}

*{
  padding: 0;
  margin: 0;

  color: white;
  font-family: "rubik";
  font-weight: 1;

  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

#window{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: black;
}

#header-container{
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: end;
}

#header{
  width: calc(100% - 10px);
  height: 75px;

  border-radius: 5px;

  background-color: #141414;

  -webkit-app-region: drag;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header *:not(#header-title){
  -webkit-app-region: no-drag;
}

#header-title{
  position: relative;
  left: 10px;
}

#header-title p span{
  color: #8D8D8D
}

#header-menu{
  display: flex;
  gap: 5px;
}

#header-actions-btn{
  display: flex;
  flex-direction: row-reverse;

  gap: 5px;

  position: relative;
  right: 10px;
}

.btn{
  background-color: black;
  padding: 10px;

  font-size: 18px;

  border: #272727 solid 2px;

  border-radius: 5px;

  cursor: pointer;

  transition: border .075s;
}

img.btn{
  width: 21px;
}

.header-menu-btn:hover{
  border: solid 2px #E6E6E6;
}

.header-menu-btn.active{
  background-color: #272727;
  border: solid 2px #E6E6E6;
}

#reduce-btn,
#minimize-btn,
#close-btn {
  transition: background-color .075s, border .075s;
}

#close-btn:hover{
  border: solid 2px #cc0000;
}

#reduce-btn:hover, #minimize-btn:hover {
  border: solid 2px #E6E6E6;
}

#win-content{
  flex-grow: 1;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#my-instances{
  height: calc(100% - 10px);
  width: calc(100% - 10px);

  display: flex;
}

#instance-list-sidebar{
  height: 100%;
  background-color: #141414;
  border-radius: 5px;
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.instance{
  width: calc(100% - 30px);
  height: 40px;

  position: relative;
  top: 5px;
  left: 5px;

  border-radius: 5px;

  padding: 10px;

  font-size: 18px;

  background: linear-gradient(90deg, #000 15%, rgba(0, 0, 0, 0.50) 50%, rgba(0, 0, 0, 0.50) 100%),
    url(./wallpaper.jpg);
  background-position: 50%;
  background-size: cover;

  display: flex;
  align-items: center;

  transition: transform .075s;

  cursor: pointer;
}

.instance:hover{
  transform: scale(1.01);
}

.instance:active{
  transform: scale(0.99);
}

#instance-info{
  flex-grow: 1;

  margin-right: 5px;

  position: relative;
  left: 5px;

  border-radius: 5px;
}

#overlapping-info{
  position: relative;
  left: 5px;
  top: 25px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

#instance-title-group{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0px;

  bottom: 10px;
}

#instance-title{
  font-size: 50px;
  font-weight: 700;
  position: relative;
  top: 9px;
}

#instance-author{
  font-size: 18px;
}

#instance-author span{
  color: #650043;
  font-weight:600;
}

#background-img{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    url(./wallpaper.jpg);

  width: 100%;
  height: 60%;

  max-height: 400px;

  background-position: 50%;
  background-size: cover;
}

#launch-btn-group{
  display: flex;
  gap: 4px;
}

#launch-btn{
  width: 125px;
  height: 50px;

  border-radius: 5px;
  border: 2px solid #302;
  background: #2D001E;
  box-shadow: 0px 0px 10px .5px #47002F;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: transform .075s;
}

#launch-btn:hover {
  transform: scale(1.01);
}

#launch-btn:active {
  transform: scale(0.97);
}

#launch-btn-options:hover {
  transform: scale(1.01);
}

#launch-btn-options:active {
  transform: scale(0.97);
}

#launch-btn p{
  font-size: 24px;
}

#launch-btn-options{
  width: 15px;
  height: 50px;

  padding: 0 5px;

  border-radius: 5px;
  border: 2px solid #302;
  background: #2D001E;
  box-shadow: 0px 0px 10px .5px #47002F;

  cursor: pointer;

  transition: transform .075s;
}

.group{
  font-weight: 500;

  position: relative;
  top: 5px;
  left: 5px;
}

#new-instance{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#new-instance:hover {
  border: solid 2px white;
}