#header-container {
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: end;
}

#header {
    width: calc(100% - 10px);
    height: 75px;

    border-radius: 5px;

    background-color: #141414;

    -webkit-app-region: drag;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .btn {
    -webkit-app-region: no-drag;
}

#header-title {
    position: relative;
    left: 10px;
}

#header-title p span {
    color: #8D8D8D
}

#header-menu {
    display: flex;
    gap: 5px;
}

#header-actions-btn {
    display: flex;
    flex-direction: row-reverse;

    gap: 5px;

    position: relative;
    right: 10px;
}

/* Set active header menu btn style */
.header-menu-btn.active {
    background-color: #272727;
    border: solid 2px #E6E6E6;
}

/* Close btn hover color is red */
#close-btn:hover {
    border: solid 2px #cc0000;
}