@use "sass:math";

$titlebar-color: #1F1F1F;
$initial-titlebar-buttons-color: #484848;
$hovered-titlebar-buttons-color: #3a3a3a;
$hovered-titlebar-closebutton-color: #850303;

@font-face {
    font-family: narrow;
    src: url(../resources/fonts/PragatiNarrow-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: narrow;
}

#titlebar{
    width: 100%;
    background-color: $titlebar-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;

    #app-name{
        width: 130px;
        font-size: 15px;
        text-align: center;
        color: white;

        span{
            color:rgb(169, 169, 169);
        }
    }

    #action-buttons{
        display: flex;
        -webkit-app-region: no-drag;

        div{
            background-color: $initial-titlebar-buttons-color;
            padding: 8px 15px 8px 15px;
            transition: background-color 0.2s;

            img{
                width: 100%;
                height: 100%;
            }
        }
        #reduce:hover, #maximize:hover{
            background-color: $hovered-titlebar-buttons-color;
            cursor: default;
        }
        #close:hover{
            background-color: $hovered-titlebar-closebutton-color;
            cursor: default;
        }
    }
}

#toolbar {
    width: 100%;
    display: flex;
    background-color: $titlebar-color;
    color: white;

    div{
        padding: 6px 10px 6px 10px;
        margin: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        transition: background-color 0.2s;

        p{
            padding-left: 5px;
        }
        &:hover{
            background-color: #191919;
        }
    }
}

#clickavoider{
    position: absolute;
    top: 0;
    left: 0;    
    opacity: 50%;
    background-color: black;
    width: 100%;
    height: 100%;
}

#addmenu{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    max-width: 750px;
    max-height: 850px;
    position: absolute;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    #addlabel{
        color:white;
        font-size: 20px;
        text-align: center;
    }

    #addlabelbanner{
        background-image: url("https://image.api.playstation.com/vulcan/img/cfn/11307x4B5WLoVoIUtdewG4uJ_YuDRTwBxQy0qP8ylgazLLc01PBxbsFG1pGOWmqhZsxnNkrU3GXbdXIowBAstzlrhtQ4LCI4.png");
        background-size: cover;
        background-position: center;
        width: 314;
        height: 190;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        transition: filter 0.25s;
        p{
            opacity: 0;
            color: white;
            font-size: 40px;
            transition: opacity 0.25s;
        }
        &:hover{
            filter: brightness(.25);
            p{
                opacity: 1;
            }
        }
    }
}

#instances{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    .instance {
        margin: 5px;
        cursor: pointer;
        background-position: 50%;
        background-size: cover;
        width: 200px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        p {
            color: white;
            font-size: 36px;
        }
    }
}

